# dependencies
node_modules

# local env files
.env

# Misc
.DS_Store

# Output files
output/*.csv
output/*.txt
output/*.json

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# package logs
yarn-debug.log*
yarn-error.log*
